schemas/codify.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema
  xmlns="https://code.dccouncil.us/schemas/codify"
  xmlns:p="https://code.dccouncil.us/schemas/dc-library"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://code.dccouncil.us/schemas/codify">
  <xs:import namespace="https://code.dccouncil.us/schemas/dc-library" schemaLocation="dc-library.xsd"/>
  <xs:element name="annotation">
    <!-- an ignored comment -->
    <!-- @summary: The ``<codify:annotation>`` instruction creates an annotation (or note) on the target element.-->
    <!-- @docs: misc/examples_header.rst -->
    <!-- @docs: examples/test_annotation.rst -->
    <xs:complexType>
      <xs:complexContent mixed="true">
        <xs:extension base="p:annotationType">
          <xs:attributeGroup ref="sharedAttributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="applicability">
    <!-- @summary: The ``<codify:applicability>`` instruction is used to set the applicability status, including funding status, of the target element.  It is often used in connection with the ``<codify:not-funded-anno>`` when the applicability status is unfunded.-->
    <!-- @docs: misc/examples_header.rst -->
    <!-- @docs: examples/test_applicability_linear.rst -->
    <!-- @docs: examples/test_applicability_pending.rst -->
    <xs:complexType>
      <xs:attributeGroup ref="p:targetAttributes"/>
      <xs:attributeGroup ref="sharedAttributes"/>
      <xs:attribute name="action" type="xs:string" use="optional">
        <!-- @summary: Specifies the applicability action. -->
      </xs:attribute>
      <xs:attribute name="date" type="xs:string" use="optional">
        <!-- @summary: Specifies the applicability status, e.g. ``notfunded`` or ``pending``. -->
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="expire">
    <!-- @summary: The ``<codify:expire>`` instruction is used to set the expiration date of the target element.  -->
    <!-- @docs: misc/examples_header.rst -->
    <!-- @docs: examples/test_expire_insert.rst -->
    <xs:complexType>
      <xs:attributeGroup ref="p:targetAttributes"/>
      <xs:attributeGroup ref="sharedAttributes"/>
      <xs:attribute name="date" type="xs:date" use="optional">
        <!-- @summary: Specify the date of expiration. -->
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="create-sub-container">
    <!-- @summary: The ``<codify:create-sub-container>`` instruction is used in connection with the ``<codify:insert>`` instruction to create a sub-container simultaneous to inserting a new container. -->
    <!-- @docs: misc/examples_header.rst -->
    <!-- @docs: examples/test_create_sub_container.rst -->
    <xs:complexType>
      <xs:attributeGroup ref="p:targetAttributes"/>
      <xs:attributeGroup ref="sharedAttributes"/>
      <xs:attribute name="heading-value" type="xs:string" use="optional">
        <!-- @summary: Specifies the text value of the heading, e.g. ``Hospital Assessments``. -->
      </xs:attribute>
      <xs:attribute name="num-value" type="xs:string" use="optional">
        <!-- @summary: Specifies the number value of the heading, e.g. ``I``. -->
      </xs:attribute>
      <xs:attribute name="prefix-value" type="xs:string" use="optional">
        <!-- @summary: Specifies the prefix text of the heading, e.g. ``Subchapter``. -->
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="emergency">
    <!-- @summary: The ``<codify:emergency>`` marcro is used to generate an annotation relating to the codification of an emergency law.-->
    <xs:complexType>
      <xs:attributeGroup ref="p:targetAttributes"/>
      <xs:attributeGroup ref="sharedAttributes"/>
      <xs:attribute name="action" type="xs:string" use="optional">
        <!-- @summary: Specifies the action text to be included in the generated annotation. -->
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="find-replace" type="findReplaceType">
    <!-- @summary: The ``<codify:find-replace>`` instruction finds text at the target node and replaces the text at the target with new text. -->
    <!-- @docs: misc/examples_header.rst -->
    <!-- @docs: examples/test_find_replace.rst -->
    <!-- @docs: examples/test_find_replace_rich_text.rst -->
    <!-- @docs: examples/test_find_replace_first.rst -->
    <!-- @docs: examples/test_find_replace_last.rst -->
  </xs:element>
  <xs:element name="funded-anno">
    <!-- @summary: The ``<codify:funded-anno>`` macro is used to generate an annotation for the target element indicating that the target element has been funded.-->
    <xs:complexType>
      <xs:attributeGroup ref="p:targetAttributes"/>
      <xs:attributeGroup ref="sharedAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ignore">
    <!-- @summary: The ``<codify:ignore>`` instruction is used to expressly indicate that a particular portion of the law will not be codified. -->
    <xs:complexType>
      <xs:attributeGroup ref="p:targetAttributes"/>
      <xs:attributeGroup ref="sharedAttributes"/>
      <xs:attribute name="technical" type="xs:string" use="optional">
        <!-- @summary: Specifies a technical change to the transform that is different from the instruction provided by the law.-->
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="insert">
    <!-- @summary: The ``<codify:insert>`` instruction is used to insert an element (and its children) as a child of the specified target. It can, for instance, insert a new container into the code, insert a new section into an existing law, or insert a new paragraph into an existing section.-->
    <!-- @docs: misc/examples_header.rst -->
    <!-- @docs: examples/test_insert.rst -->
    <!-- @docs: examples/test_insert_organic.rst -->
    <!-- @docs: examples/test_insert_before_after.rst -->
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="insertType">
          <xs:attributeGroup ref="p:targetAttributes"/>
          <xs:attributeGroup ref="sharedAttributes"/>
          <xs:attribute name="after" type="xs:string" use="optional">
            <!-- @summary: Specify the child element at the target path that the transform results should appear after. -->
          </xs:attribute>
          <xs:attribute name="before" type="xs:string" use="optional">
            <!-- @summary: Specify the child element at the target path that the transform results should appear before. -->
          </xs:attribute>
          <xs:attribute name="num-value" type="xs:string" use="optional">
            <!-- @summary: Specify the number value of the transform result. Defaults to value of ``<num>``.-->
          </xs:attribute>
          <xs:attribute name="technical" type="xs:string" use="optional">
            <!-- @summary: Specifies a technical change to the transform that is different from the instruction provided by the law.-->
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="insert-code-container" type="anyType">
    <!-- @summary: Pending discussion on use.-->
  </xs:element>
  <xs:element name="not-funded-anno">
    <!-- @summary: The ``<codify:not-funded-anno>`` macro is used to generate an annotation for the target element indicating that the target element is not funded.-->
    <xs:complexType>
      <xs:attributeGroup ref="p:targetAttributes"/>
      <xs:attributeGroup ref="sharedAttributes"/>
      <xs:attribute name="action" type="xs:string" use="optional">
        <!-- @summary: Specifies the action text to be included in the generated annotation, e.g. ``the addition of``, ``creation of``, ``addition of section``, etc. -->
      </xs:attribute>
      <xs:attribute name="applicability-path" type="xs:string" use="optional">
        <!-- @summary: Specifies the path to section with applicability provision.-->
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="organic">
    <!-- @summary: The ``<codify:organic>`` is no longer used.-->
    <!-- @summary: The ``<codify:organic>`` instruction is used to codify an organic law.-->
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="insertType">
          <xs:attributeGroup ref="p:targetAttributes"/>
          <xs:attributeGroup ref="sharedAttributes"/>
          <xs:attribute name="after" type="xs:string" use="optional">
            <!-- @summary: Specify the child element at the target path that the transform results should appear after. -->
          </xs:attribute>
          <xs:attribute name="before" type="xs:string" use="optional">
            <!-- @summary: Specify the child element at the target path that the transform results should appear before. -->
          </xs:attribute>
          <xs:attribute name="heading-value" type="xs:string" use="optional">
            <!-- @summary: Specifies the text value of the heading, e.g. ``Hospital Assessments``. -->
          </xs:attribute>
          <xs:attribute name="num-value" type="xs:string" use="optional">
            <!-- @summary: Specify the number value of the transform result. Defaults to value of ``<num>``.-->
          </xs:attribute>
          <xs:attribute name="prefix-value" type="xs:string" use="optional">
            <!-- @summary: Specifies the prefix text of the heading, e.g. ``Subchapter``. -->
          </xs:attribute>
          <xs:attribute name="tag" type="xs:string" use="optional">
            <!-- @summary: Specifies the type of element to be inserted, e.g. ``<container>``.-->
          </xs:attribute>
          <xs:attribute name="technical" type="xs:string" use="optional">
            <!-- @summary: Specifies a technical change to the transform that is different from the instruction provided by the law.-->
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="redesignate" type="anyType">
    <!-- @summary: Pending discussion on use.-->
  </xs:element>
  <xs:element name="redesignate-para">
    <!-- @summary: The ``<codify:redesignate-para>`` instruction changes the value of the target paragraph number from one value to another.-->
    <!-- @docs: misc/examples_header.rst -->
    <!-- @docs: examples/test_redesignate_para_on_section.rst -->
    <xs:complexType>
      <xs:attributeGroup ref="p:targetAttributes"/>
      <xs:attributeGroup ref="sharedAttributes"/>
      <xs:attribute name="num-value" type="xs:string" use="optional">
        <!-- @summary: Specify the number value of the transform result. Defaults to value of ``<num>``.-->
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="recodify-section">
    <!-- @summary: The ``<codify:recodify-section>`` instruction recodifies the target in the code into a new section of the code.-->
    <!-- @docs: misc/examples_header.rst -->
    <!-- @docs: examples/test_recodify_code_section.rst -->
    <xs:complexType>
      <xs:attributeGroup ref="p:targetAttributes"/>
      <xs:attributeGroup ref="sharedAttributes"/>
      <xs:attribute name="after" type="xs:string" use="optional">
        <!-- @summary: Specify the child element at the target path that the transform results should appear after. -->
      </xs:attribute>
      <xs:attribute name="before" type="xs:string" use="optional">
        <!-- @summary: Specify the child element at the target path that the transform results should appear before. -->
      </xs:attribute>
      <xs:attribute name="num-value" type="xs:string" use="optional">
        <!-- @summary: Specify the number value of the transform result. Defaults to value of ``<num>``.-->
      </xs:attribute>
      <xs:attribute name="destination-path" type="xs:string" use="optional">
        <!-- @summary: path to destination container if the section should be moved (and not just renumbered) .-->
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="remove" type="anyType">
    <!-- @summary: The ``<codify:remove>`` instruction removes the target element.-->
    <!-- @docs: misc/examples_header.rst -->
    <!-- @docs: examples/test_remove.rst -->
  </xs:element>
  <xs:element name="repeal">
    <!-- @summary: The ``<codify:repeal>`` instruction repeals the target element.-->
    <!-- @docs: misc/examples_header.rst -->
    <!-- @docs: examples/test_repeal.rst -->
    <!-- @docs: examples/test_repeal_enacted.rst -->
    <xs:complexType>
      <xs:attributeGroup ref="p:targetAttributes"/>
      <xs:attributeGroup ref="sharedAttributes"/>
      <xs:attribute name="technical" type="xs:string" use="optional">
        <!-- @summary: Specifies a technical change to the transform that is different from the instruction provided by the law.-->
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="replace" type="anyType">
    <!-- @summary: The ``<codify:replace>`` instruction replaces the target element with the contents of the instructions parent element.-->
    <!-- @docs: misc/examples_header.rst -->
    <!-- @docs: examples/test_replace.rst -->
  </xs:element>
  <xs:element name="street-designation-anno">
    <!-- @summary: The ``<codify:street-designation-anno>`` macro is used when the council designates new streets.-->
    <xs:complexType>
      <xs:attributeGroup ref="sharedAttributes"/>
      <xs:attribute name="action" type="xs:string" use="optional">
        <!-- @summary: Specifies the action text to be included in the generated annotation, e.g. ``the Council designates``.-->
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="temporary">
    <!-- @summary: The ``<codify:temporary>`` macro is used to codify temporary laws.-->
    <xs:complexType>
      <xs:attributeGroup ref="p:targetAttributes"/>
      <xs:attributeGroup ref="sharedAttributes"/>
      <xs:attribute name="action" type="xs:string" use="optional">
        <!-- @summary: Specifies the action text to be included in the generated annotation, e.g. ``the addition of a new section``, ``amendment to the Expansion and Coordination of Youth Services Act of 2016``, etc.-->
      </xs:attribute>
      <xs:attribute name="emergency" type="xs:string" use="optional">
        <!-- @summary: No longer used. -->
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="any">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:any processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- types -->
  <xs:complexType name="anyType">
    <xs:complexContent>
      <xs:extension base="xs:anyType">
        <xs:attributeGroup ref="sharedAttributes"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="falseOnlyType">
    <!-- @internalTarget: appendix_falseOnlyType -->
    <xs:restriction base="xs:string">
      <xs:pattern value="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="findReplaceType">
    <xs:sequence minOccurs="0">
      <xs:element ref="p:find"/>
      <xs:element ref="p:replace"/>
    </xs:sequence>
    <xs:attributeGroup ref="p:targetAttributes"/>
    <xs:attributeGroup ref="findReplaceAttributes"/>
    <xs:attributeGroup ref="sharedAttributes"/>
    <xs:attribute name="count" type="xs:integer" use="optional">
      <!-- @summary: Specifies the number of instances the ``find`` value exists at the target. -->
    </xs:attribute>
    <xs:attribute name="position" use="optional">
      <!-- @summary: Specifies position of the ``find`` value in the target element, e.g. ``last``, ``first``, ``heading``, or ``text``. -->
      <xs:simpleType>
        <xs:union memberTypes="xs:positiveInteger firstLastType"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="technical" type="xs:string" use="optional">
      <!-- @summary: Specifies a technical change to the transform that is different from the instruction provided by the law.-->
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="firstLastType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="first"/>
      <xs:enumeration value="last"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="insertType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="create-sub-container"/>
        <xs:element ref="insert"/>
        <xs:element ref="recodify-section"/>
        <xs:element ref="p:container"/>
        <xs:element ref="p:section"/>
        <xs:element ref="p:para"/>
        <xs:element ref="p:text"/>
        <xs:element ref="p:subsection"/>
        <xs:element ref="p:toc"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <!-- attributes -->
  <xs:attribute name="applicability" type="xs:string"/>
  <xs:attribute name="doc" type="xs:string"/>
  <xs:attribute name="expire" type="xs:string"/>
  <xs:attribute name="instruction" type="xs:string"/>
  <xs:attribute name="path" type="xs:string"/>
  <xs:attribute name="warning" type="falseOnlyType"/>
  <xs:attribute name="value" type="xs:string"/>
  <!-- attribute groups -->
  <xs:attributeGroup name="allAttributes">
    <xs:attribute ref="applicability" use="optional"/>
    <xs:attribute ref="doc" use="optional"/>
    <xs:attribute ref="expire" use="optional"/>
    <xs:attribute name="history" type="falseOnlyType" use="optional"/>
    <xs:attribute name="history-prefix" type="xs:string" use="optional"/>
    <xs:attribute ref="instruction" use="optional"/>
    <xs:attribute ref="path" use="optional"/>
    <xs:attribute ref="value" use="optional"/>
    <xs:attribute name="warning" type="falseOnlyType" use="optional"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="findReplaceAttributes">
    <xs:attribute name="find" type="xs:string" use="optional">
      <!-- @summary: Specifies the text to be found at the target. -->
    </xs:attribute>
    <xs:attribute name="replace" type="xs:string" use="optional">
      <!-- @summary: Specifies the replacement text. -->
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="sharedAttributes">
    <xs:attribute name="history" type="falseOnlyType" use="optional">
      <!-- @summary: Setting ``history=false`` to prevent creation of a history entry.-->
    </xs:attribute>
    <xs:attribute name="history-prefix" type="xs:string" use="optional">
      <!-- @summary: Prepends the attribute value to the history entry's text. -->
    </xs:attribute>
    <xs:attribute name="warning" type="falseOnlyType" use="optional">
      <!-- @summary: Set ``warning=false`` to prevent warning when applying this transform. -->
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="targetAttributes">
    <xs:attribute ref="doc" use="optional"/>
    <xs:attribute ref="path" use="optional"/>
  </xs:attributeGroup>
</xs:schema>
