schemas/codified.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://code.dccouncil.us/schemas/codified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="https://code.dccouncil.us/schemas/codified">
  <xs:element name="at">
    <xs:complexType>
      <xs:attribute name="doc" use="required" />
      <xs:attribute name="path" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="stub">
    <xs:complexType>
      <xs:attribute name="doc" use="required" />
      <xs:attribute name="path" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
