schemas/dc-library.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema
  xmlns="https://code.dccouncil.us/schemas/dc-library"
  xmlns:codified="https://code.dccouncil.us/schemas/codified"
  xmlns:codify="https://code.dccouncil.us/schemas/codify"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://code.dccouncil.us/schemas/dc-library">
  <xs:import namespace="https://code.dccouncil.us/schemas/codified" schemaLocation="codified.xsd"/>
  <xs:import namespace="https://code.dccouncil.us/schemas/codify" schemaLocation="codify.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/XInclude" schemaLocation="XInclude.xsd"/>
  <xs:include schemaLocation="./annotation-types.xsd"/>
  <xs:element name="aftertext">
    <xs:complexType>
      <xs:complexContent mixed="true">
        <xs:extension base="xs:anyType">
          <xs:attribute ref="codify:value" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="annotation" type="annotationType"/>
  <xs:element name="annotations">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="text"/>
        <xs:element ref="annotation"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="citation">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type" type="xs:string"/>
          <xs:attribute name="url" type="xs:string" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="cite">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="root" type="xs:string" use="optional"/>
          <xs:attributeGroup ref="targetAttributes"/>
          <xs:attribute ref="codify:value" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="collection">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="heading" maxOccurs="unbounded"/>
        <xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="xi:include"/>
          <xs:element ref="collection"/>
          <xs:element ref="document"/>
        </xs:choice>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element name="subheading" type="xs:string"/>
          <xs:element ref="xi:include" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="collection" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="document" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="container">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:any namespace="https://code.dccouncil.us/schemas/codify" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="codified:at" minOccurs="0"/>
          <xs:element ref="prefix" minOccurs="0"/>
          <xs:element ref="num" minOccurs="0"/>
          <xs:element ref="heading"/>
          <xs:element ref="codified:stub" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="xi:include" minOccurs="0"/>
          <xs:element name="subheading" type="xs:string"/>
          <xs:element ref="section"/>
          <xs:element ref="container"/>
          <xs:element ref="text"/>
          <xs:element ref="para"/>
          <xs:element ref="toc" minOccurs="0"/>
          <xs:any namespace="https://code.dccouncil.us/schemas/codify"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="containing-doc" type="xs:string" use="optional"/>
      <xs:attribute name="enacted" type="xs:boolean" use="optional"/>
      <xs:attributeGroup ref="codify:allAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="document">
    <xs:complexType>
      <xs:sequence>
        <!-- laws & code -->
        <xs:any namespace="https://code.dccouncil.us/schemas/codify" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="codified:at" minOccurs="0"/>
        <xs:element ref="num" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="heading" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="codified:stub" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="meta"/>
        <xs:sequence minOccurs="0">
          <!-- code -->
          <xs:choice maxOccurs="unbounded">
            <xs:element ref="text"/>
            <xs:element ref="xi:include"/>
            <xs:element ref="page"/>
            <xs:element ref="container"/>
            <xs:element ref="section"/>
            <xs:element ref="para"/>
            <xs:element name="subheading" type="xs:string"/>
            <xs:element ref="toc" minOccurs="0"/>
            <xs:any namespace="https://code.dccouncil.us/schemas/codify"/>
          </xs:choice>
        </xs:sequence>
        <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="flag" type="xs:boolean" use="optional"/>
      <xs:attribute name="url" type="xs:string" use="optional"/>
      <xs:attributeGroup ref="codify:allAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="effective">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="date-or-empty">
          <xs:attribute name="projected" type="xs:boolean" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="find">
    <!-- @summary: Specifies the text or xml to be found at the target. -->
    <xs:complexType>
      <xs:complexContent mixed="true">
        <xs:extension base="xs:anyType">
          <xs:attributeGroup ref="targetAttributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="page">
    <xs:complexType>
      <xs:attribute name="citation" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="heading">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="cite" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:string" use="optional"/>
      <xs:attribute ref="codify:value" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="include">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="container"/>
          <xs:element ref="section"/>
          <xs:element ref="para"/>
          <xs:element ref="text"/>
          <xs:element ref="subsection"/>
          <xs:element ref="toc"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="lvl" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="library">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="heading" maxOccurs="unbounded"/>
        <xs:choice minOccurs="1" maxOccurs="unbounded">
          <xs:element ref="xi:include" minOccurs="0"/>
          <xs:element ref="collection" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="document" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="meta">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="effective" minOccurs="0"/>
          <xs:element name="temporary" minOccurs="0">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute name="emergency" type="xs:string" use="optional"/>
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
        <xs:element name="recency" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="law">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="law" type="xs:string"/>
                    <xs:element name="effective" type="xs:date"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="emergency">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="law" type="xs:string"/>
                    <xs:element name="effective" type="xs:date"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="federal">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="law" type="xs:string"/>
                    <xs:element name="effective" type="xs:date"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="citations" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element ref="citation"/>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="history" minOccurs="0">
          <xs:complexType>
            <xs:complexContent mixed="true">
              <xs:extension base="xs:anyType">
                <xs:attribute name="url" type="xs:string" use="optional"/>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="search-text" minOccurs="0" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="num">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type" type="xs:string" use="optional"/>
          <xs:attribute name="undesignated" type="xs:string" use="optional"/>
          <xs:attribute ref="codify:value" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="para">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="codify:insert"/>
          <xs:element ref="codify:organic"/>
          <xs:element ref="codify:replace"/>
          <xs:element ref="codify:ignore"/>
          <xs:element ref="codify:temporary"/>
        </xs:choice>
        <xs:element ref="prefix" minOccurs="0"/>
        <xs:element ref="num" minOccurs="1"/>
        <xs:element ref="heading" minOccurs="0"/>
        <xs:element ref="codified:stub" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="include" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="para" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="aftertext" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        <xs:any namespace="https://code.dccouncil.us/schemas/codify" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="codify:allAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="prefix" type="xs:string"/>
  <xs:element name="reason" type="xs:string"/>
  <xs:element name="replace">
    <!-- @summary: Specifies the replacement text or xml. -->
    <xs:complexType>
      <xs:complexContent mixed="true">
        <xs:extension base="xs:anyType">
          <xs:attributeGroup ref="targetAttributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="subsection">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="num"/>
        <xs:element ref="heading" minOccurs="0"/>
        <xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="para" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="section">
    <xs:complexType>
      <xs:sequence>
        <!-- remaining sections -->
        <xs:any namespace="https://code.dccouncil.us/schemas/codify" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="codified:at" minOccurs="0"/>
        <xs:element ref="prefix" minOccurs="0"/>
        <xs:element ref="num"/>
        <xs:element ref="codified:stub" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="reason" minOccurs="0"/>
        <xs:group ref="sectionContents"/>
        <xs:any namespace="https://code.dccouncil.us/schemas/codify" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="containing-doc" type="xs:string" use="optional"/>
      <xs:attributeGroup ref="codify:allAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="text">
    <xs:complexType>
      <xs:complexContent mixed="true">
        <xs:extension base="xs:anyType">
          <xs:attribute ref="codify:value" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="toc">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="text"/>
          <xs:element name="container" type="tocContainer"/>
          <xs:element name="section" type="tocSection"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="containing-doc" type="xs:string" use="optional"/>
      <xs:attributeGroup ref="codify:allAttributes"/>
    </xs:complexType>
  </xs:element>
  <!-- groups -->
  <xs:group name="sectionContents">
    <xs:sequence>
      <xs:element ref="heading" minOccurs="0"/>
      <xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="toc" minOccurs="0"/>
      <xs:element ref="include" minOccurs="0"/>
      <xs:element name="container" type="sectionContainer" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="para" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="aftertext" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="annotations" minOccurs="0"/>
      <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:group>
  <!-- types -->
  <xs:complexType name="annotationType">
    <xs:complexContent mixed="true">
      <xs:extension base="xs:anyType">
        <xs:attributeGroup ref="targetAttributes"/>
        <xs:attribute name="type" type="annotationTypes" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="date-or-empty">
    <xs:union memberTypes="xs:date empty-string"/>
  </xs:simpleType>
  <xs:simpleType name="empty-string">
    <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="sectionContainer">
    <xs:sequence>
      <xs:element ref="prefix" minOccurs="0"/>
      <xs:element ref="num" minOccurs="0"/>
      <xs:element ref="heading"/>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="container" type="sectionContainer"/>
        <xs:element ref="para"/>
        <xs:element ref="text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tocContainer">
    <xs:sequence>
      <xs:element ref="prefix" minOccurs="0"/>
      <xs:element ref="num"/>
      <xs:element ref="heading"/>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="container" type="tocContainer"/>
        <xs:element name="section" type="tocSection"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tocSection">
    <xs:sequence>
      <xs:element ref="num"/>
      <xs:element ref="heading"/>
    </xs:sequence>
  </xs:complexType>
  <!-- attribute groups -->
  <xs:attributeGroup name="targetAttributes">
    <xs:attribute name="doc" type="xs:string" use="optional">
      <!-- @summary: The ``doc`` and ``path`` attributes together determine the target of the transform. :ref:`Learn more here <appendix_docAndPath>`. -->
    </xs:attribute>
    <xs:attribute name="path" type="xs:string" use="optional">
      <!-- @summary: The ``doc`` and ``path`` attributes together determine the target of the transform. :ref:`Learn more here <appendix_docAndPath>`. -->
    </xs:attribute>
  </xs:attributeGroup>
</xs:schema>
